
modLoader="javafml" #mandatory
# A version range to match for said mod loader - for regular FML @Mod it will be the forge version
loaderVersion="${loader_version_range}" #mandatory This is typically bumped every Minecraft version by Forge. See our download page for lists of versions.
# The license for you mod. This is mandatory metadata and allows for easier comprehension of your redistributive properties.
# Review your options at https://choosealicense.com/. All rights reserved is the default copyright stance, and is thus the default here.
license="MIT"
# A URL to refer people to when problems occur with this mod
issueTrackerURL="https://github.com/Gefex843/BalancedFlight/issues"
# If your mod is purely client-side and has no multiplayer functionality (be it dedicated servers or Open to LAN),
# set this to true, and Forge will set the correct displayTest for you and skip loading your mod on dedicated servers.
#clientSideOnly=true #optional - defaults to false if absent
# A list of mods - how many allowed here is determined by the individual mod loader
[[mods]]
modId="balancedflight"
version="2.4.1"
displayName="Create: BalancedFlight"
logoFile="logo.png"
authors="Gefex, Vice"
displayURL="https://github.com/Gefex843/BalancedFlight"
description='''This mod allows flight using the Ascended Flight Ring, letting you fly freely like in Creative mode.'''

# A dependency - use the . to indicate dependency for a specific modid. Dependencies are optional.
[[dependencies.balancedflight]] #optional
    modId="forge" #mandatory
    mandatory=true #mandatory
    versionRange="${forge_version_range}" #mandatory
    ordering="NONE"
    side="BOTH"
# Here's another dependency
[[dependencies.balancedflight]]
    modId="minecraft"
    mandatory=true
    # This version range declares a minimum of the current minecraft version up to but not including the next major version
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"

[[dependencies.balancedflight]]
    modId="curios"
    mandatory=true
    versionRange="[1.20.1-5.2.0-beta.3,)"
    ordering="AFTER"
    side="BOTH"

[[dependencies.balancedflight]]
    modId="create"
    mandatory=true
    versionRange="[0.5.1.c,)"
    ordering="AFTER"
    side="BOTH"

[[dependencies.balancedflight]]
    modId="geckolib"
    mandatory=true
    versionRange="[4.2,)"
    ordering="AFTER"
    side="BOTH"

# Features are specific properties of the game environment, that you may want to declare you require. This example declares
# that your mod requires GL version 3.2 or higher. Other features will be added. They are side aware so declaring this won't
# stop your mod loading on the server for example.
#[features.balancedflight]
#openGLVersion="[3.2,)"
